In [30]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/refs/heads/master/teaching/datasets/nba.csv')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df = df.dropna(how='all')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [32]:
df['College'] = df['College'].fillna('No College')
df

C:\Users\Justin\AppData\Local\Temp\ipykernel_27896\1870851848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['College'] = df['College'].fillna('No College')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,No College,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,No College,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,No College,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [37]:
# fill salary with mean of salary from team
gby = df.groupby('Team')
for team, subdf in gby:
  print(team, len(subdf), round(subdf['Salary'].mean(), 2))

Atlanta Hawks 15 4860196.67
Boston Celtics 15 4181504.86
Brooklyn Nets 15 3501898.33
Charlotte Hornets 15 5222728.0
Chicago Bulls 15 5785558.53
Cleveland Cavaliers 15 7642049.21
Dallas Mavericks 15 4746582.13
Denver Nuggets 15 4294423.57
Detroit Pistons 15 4477884.2
Golden State Warriors 15 5924599.8
Houston Rockets 15 5018868.07
Indiana Pacers 15 4450121.73
Los Angeles Clippers 15 6323642.67
Los Angeles Lakers 15 4784695.4
Memphis Grizzlies 18 5467920.0
Miami Heat 15 6347359.46
Milwaukee Bucks 16 4350219.81
Minnesota Timberwolves 14 4593053.62
New Orleans Pelicans 19 4355303.89
New York Knicks 16 4581493.62
Oklahoma City Thunder 15 6251019.87
Orlando Magic 14 4297247.86
Philadelphia 76ers 15 2213778.14
Phoenix Suns 15 4229675.67
Portland Trail Blazers 15 3220121.2
Sacramento Kings 15 4778911.07
San Antonio Spurs 15 5629515.53
Toronto Raptors 15 4741174.07
Utah Jazz 15 4204006.07
Washington Wizards 15 5088575.73

In [38]:
# gorupby based on the position
gby = df.groupby('Position')
for pos, subdf in gby:
  print(pos, len(subdf), round(subdf['Salary'].mean(), 2))

C 78 5967052.0
PF 100 4548356.02
PG 92 5104348.81
SF 85 4874921.59
SG 102 4049943.49